/* || Base */

/* Make box-sizing be border-box everywhere, unless overridden */
* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

html {
  font-family: Source Sans Pro, Calibri, Arial, sans-serif;
}






/* || Layout */
/* Rules to divide the major components of a site */
@media screen and (min-width: 900px) {
  .wrapper {
    max-width: calc(900px - 1rem);
    margin: 0 auto;
  }
}






/* || Modules */
/* Rules for reusable, modular parts, the minor components of our site */



@media all and (min-width: 750px) {
  .contact {
    display: flex;
  }
  .contact-name {
    flex: 1 1 0px;
  }
}

.jobs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}








/* || State */
/* Rules to describe how our modules or layouts will look in a particular state */





/* || Theme */
/* Rules to describe how our modules or layouts will look */

header {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

header > p {
  margin-top: 1rem;
}

.contact-name {
  font-size: 2rem;
}

section {
  padding: 0 1rem;
}

section > h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.job {
  padding: 0.25rem;
}

.job h3 {
  margin: 0;
}

.city-dates {
  font-weight: normal;
  font-size: 1rem;
}

.title {
  margin: 0;
  font-style: italic;
  font-weight: normal;
}

.desc {
  padding-left: 4rem;
}
